:root{
    /*Definição de cores padrão no site. Assim as variáveis poderão serem chamadas em todo site*/
    --preta:#141414;
    --vermelha:#E50914;

}
*{
    /*Resetar os estilos padrão do HTML*/
    margin: 0;
    padding: 0;
    /*Não deixa o elemento expandir a caixa da div*/
    box-sizing: border-box;
}
/*Elementos base*/

body{
    /*Chamado a variável referente a cor do site*/
    background:var(--preta);
    font-family: 'Times New Roman',Times,serif;
    color: white;
}
header {
 

    background-color: #141414;
    color: #fff;
    width:100%;
    z-index:999; /*Deixa sobre os outros*/
    position:fixed;
    height:65px;
 
    margin: auto;




}

.container{ /* BARRA FIXA */
    display: flex; /*Utiliza a Flex box, alinhando os elementos na tela, jogando tudo para uma linha*/
    max-width:1440px;
    align-items: center;
    margin:auto;    
    flex-direction: row;
    justify-content:space-between;
    background-color:var --preta;
    position:fixed;
    z-index:999; /*Deixa sobre os outros*/
    left:0;
    right: 0;
    top:0;
    overflow:hidden;

    
} 

header .container ul{
    align-items: center;
    display: flex;
    margin: 10px;
    margin-left: 20px;    
    font-size: 16px;
}

nav{
    flex:1;
    align-items:center;
}


.logo{

    flex:1;
    display: flex;
    float: left;
    position: relative;
    width: 100px;
    height: 25px;
    top: 10px;
    justify-content:flex-start; /*Alinha os elementos - Space Between*/
          
 }
 

.nav-left{
    flex:2;
    display: flex;
    float: left;
    position: relative;
    margin-left: 20px;
    
    top: 14px;
    justify-content:flex-start; /*Alinha os elementos - Space Between*/
}

.nav-right{
    flex:3;
    display: flex;
    position: relative;
    justify-content:flex-end;
    
}

.perfil{
    width: 40px;
    border-radius: 5px;
}

.container li{
    margin-right: 20px;
    
    list-style-type:none;
}



header nav a{
    text-decoration: none; /*Tira a linha do Link*/
    color: #AAA; 
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover{
    color: #FFF;
}



/*OCULTAR MENU MOBILE*/
.menu_mobile{
    display:none;
}

header button{    
    text-decoration: none;
    border:0;
    height: 40px;
    right: 80px;
    padding: 5px;
    background-color: var(--vermelha);
    color: #fff;    
}
header .botao_entrar{
    height: 40px;
    right: 180px;
}


/*Responsividade para smartphones*/
@media only screen and (min-width:450px) and (max-width:1000px){
   

   
    nav{
        z-index: 99;
        background-color:rgb(40, 35, 35);
        width: 10vw;
        height: calc(100vh - 100px);
        top: 50px;
        left: 0;
        
    }

    nav ul{
        flex-direction: column;
    }
    nav li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
   
     .logo{
        width: 200px;
        height: 50px;
     
        
    }

    .container {
     
        display: flex;
        position: relative;
        justify-content:center;
        
        }
    
    
    .menu_mobile{
        
        flex:1;
        display: flex;
        position: relative;
        justify-content:flex-start;
        display: block;
        align-items: center;
        display: flex;
        width: 200px;
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }
}

