:root{
    /*Definição de cores padrão no site. Assim as variáveis poderão serem chamadas em todo site*/
    --vermelha:#E50914;
    --preta:#141414;

}
*{
    /*Resetar os estilos padrão do HTML*/
    margin: 0;
    padding: 0;
    /*Não deixa o elemento expandir a caixa da div*/
    box-sizing: border-box;
}
body{
    /*Chamado a variável referente a cor do site*/
    background:var(--preta);
    font-family: 'Times New Roman',Times,serif;
    color: white;
}


/*Elementos base*/

/*estilizar menu*/
header .container{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

header .logo{
    /*Chamado a variável para cor da logo*/
    color: var(--vermelha);
    font-family: 'arial',times;
    font-size:40px;
    margin-left: 20px;
   

}

header nav a {
    align-items:left;
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}
/*criar efeito hover no menu*/
header nav a:hover{
    color: #fff;
}

header button{
    text-decoration: none;
    border:0;
    height: 40px;
   
    padding: 5px;
    background-color: #E50914;
    color: #fff;
    margin-right:5px;
    padding:5px;
}