

.login{
    font-size:18px;
    /*colocar imagem com banner com tema mais escuro*/
   background: linear-gradient(rgba(0.90,0,0,.50),rgba(.90,0,0,.50)100%), url('../images/netflix_banner_tela_inicial.jpg');
    height: 600px;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
      
}

/*Elementos base*/
.container-login {
    margin-bottom:10px;
    background: linear-gradient(rgba(0.90,0,0,.50),rgba(.90,0,0,.50)100%);
    align-items:center;

    padding: 15px;
    margin-top:15%;
    

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;
}

.container-login input{
    text-decoration: none;
    border: 1px solid #fafafa;
}
