/*Declarar variável dentro do CSS */
:root{
    /*Definição de cores padrão no site. Assim as variáveis poderão serem chamadas em todo site*/
    --vermelha:#E50914;
    --preta:#141414;

}
*{
    /*Resetar os estilos padrão do HTML*/
    margin: 0;
    padding: 0;
    /*Não deixa o elemento expandir a caixa da div*/
    box-sizing: border-box;
}
body{
    /*Chamado a variável referente a cor do site*/
    background:var(--preta);
    font-family: 'Arial',Times,serif;
    color: white;
}
.perfil-container{
    height:calc(100vh - 0px);
    background:var(--preta);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}

.container-perfil {
    padding: 10px;
    margin-top:10%;
    font-family:Arial;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.item{
    margin-right: 10px;

}
.item h2{
    display: flex;
    flex-direction: row;
    align-items:center;

}

.item img{
    width: 150px;
    height: 150px;
}