/*Declarar variável dentro do CSS */
:root{
    /*Definição de cores padrão no site. Assim as variáveis poderão serem chamadas em todo site*/
    --vermelha:#E50914;
    --preta:#141414;

}
*{
    /*Resetar os estilos padrão do HTML*/
    margin: 0;
    padding: 0;
    /*Não deixa o elemento expandir a caixa da div*/
    box-sizing: border-box;
}
body{
    /*Chamado a variável referente a cor do site*/
    background:var(--preta);
    font-family: 'Arial',Times,serif;
    color: white;
}


.perfil{
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    

      
}

.container-perfil {
   background-color: #E50914;
    padding: 10px;
    margin-top:10%;
    font-family:Arial;
    flex-direction: row;

    display: flex;
    justify-content: ;    
    align-items: flex-start;
}
.item{
    margin-right: 10px;

}
.item h2{
    align-items: center;

}

.box-filme{
    height: 150px;
}