<!DOCTYPE html>	
<html lang="pt-br">	
    <head>	
        <meta charset="UTF-8" />	
        <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no">	
        <link rel="stylesheet" href="../static/css/index.css">	
        <link rel="stylesheet" href="../static/css/header.css">	
        <script src="https://kit.fontawesome.com/6c3d792d24.js" crossorigin="anonymous"></script>	

        <title>Interface Netflix</title>	
    </head>	
<body>	
    <div class="alert">Minha primeira tela DevOPs.</div>	

    <!--Cabeçalho do site-->	
    <!--CSS do Header foi aplicado no header.css-->	
    
    <header>
        <div class="container">

           
            <nav>

                            <!--MENU MOBILE-->
                    <div class="menu_mobile">
                            <i class="fas fa-bars"></i>
                    </div>  
                    <div class="logo">
                        <a href="./index.html">
                            <img src="../static/images/logo-netflix.png" alt="Logo da Netflix" class="logo">
                        </a>
                    </div>
                
                    <ul class="nav-left">                 
                                                 
                    
                    <li>
                        <a href="./tela_inicial.html">Séries</a>
                    </li>
                    <li>
                        <a href="./tela_inicial.html">Filmes</a>
                    </li>
                    <li>
                       <a href="./tela_inicial.html">Documentários</a> 
                    </li>
                    <li>
                        <a href="./tela_inicial.html"> Infantil</a>
                    </li>
                    <li>
                        <a href="./tela_inicial.html"> Em alta</a>
                    </li>

                </ul>

                

                <ul class="nav-right">
                    <li>
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">SÉRIES</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-gift"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-bell"></i></a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/perfis/coringa.jpg" alt="Imagem de Perfil" class="perfil">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="fas fa-caret-down"></i> 
                        </a>
                    </li>

                    <li>

                        <a href="login.html">
                            <button role="button" class="botao_entrar">Entrar</button>
                            </a>  
    
                    </li>
                </ul>
                
            </nav>

             </header>
        </div>
   




    <!--Criação de uma div semântica para melhorar as buscas por SEO-->	
    <main>	
        <section class="filme-tela-principal">	

            <div class="container-tela-titulo">
                <div class="container-tela-inicial-text">

                <div class="container-tela-inicial">	
                    <h3 class="titulo-tela-inicial">Sua próxima história,<br>Agora.</h3>	
                    <p class="descricao-tela-inicial">ASSISTA ONDE QUISER. CANCELE QUANDO QUISER.</p>	
                </div>	
                <!--Div grupo de botões-->	
                <div class="botao_assinar">	
                    <a href="login.html">	
                        <button role="button" class="botao-assinar">	
                            ASSITIR UM MÊS GRÁTIS	
                        </button>	
                    </a>	

                </div>	
                </div>


            </div>

        </section>	


    </main>	


</body>	
</html>
