<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial">
        <link rel="stylesheet" href="../assets/css/header.css">
        <link rel="stylesheet" href="../assets/css/login.css">
        <title>Login</title>
        <script src="https://kit.fontawesome.com/6c3d792d24.js" crossorigin="anonymous"></script>
    </head>
<body>

     <!--Cabeçalho do site-->
     <!--CSS do Header foi aplicado no header.css-->

     <header>
        <!--Criação de um container para criação do menu-->
        <div class="container">

       
           
           <nav>
               <ul class="nav-left">
                        <!--MENU MOBILE-->
                        <div class="menu_mobile">
                            <i class="fas fa-bars"></i>
                        </div>  
                        
                        <a href="./index.html">
                            <img src="../assets/images/logo-netflix.png" alt="Logo da Netflix" class="logo">
                        </a>
                   <li>
                       <a href="./index.html">Inicio</a>
                   </li>
                   <li>
                       <a href="./tela_inicial.html">Séries</a>
                   </li>
                   <li>
                       <a href="./tela_inicial.html">Filmes</a>
                   </li>
                   <li>
                      <a href="./tela_inicial.html">Bombando</a> 
                   </li>
                   <li>
                       <a href="./tela_inicial.html"> Minha Lista</a>
                   </li>
               </ul>

               <ul class="nav-right">
                   <li>
                       <a href="#">
                           <i class="fas fa-search"></i>
                       </a>
                   </li>
                   <li>
                       <a href="#">INFANTIL</a>
                   </li>
                   <li>
                       <a href="#"><i class="fas fa-gift"></i></a>
                   </li>
                   <li>
                       <a href="#"><i class="far fa-bell"></i></a>
                   </li>
                   <li>
                       <a href="#">
                           <img src="../assets/images/perfis/coringa.jpg" alt="Imagem de Perfil" class="perfil">
                       </a>
                   </li>
                   <li>
                       <a href="#">
                          <i class="fas fa-caret-down"></i> 
                       </a>
                   </li>

                   <li>

                       <a href="./login.html">
                           <button role="button" class="botao_entrar">Entrar</button>
                           </a>  
   
                       </li>
               </ul>
               
           </nav>

           
       </div>
    </header>


    <main>
        <div class="login">
            <div class="container-login">
                <h3 class="titulo-entrar">Entrar</h3>
    
                    <label>
                        <input type="text" name="usuario" placeholder="Email ou número de telefone" required autofocus/></br></br>
                    </label>

                    <label>    
                        <input type="Password" placeholder="Senha" /></br></br>
                    </label>

                    <a href="./perfil_usuario.html">
                        <button role="button" class="btn_entrar">Entrar</button>
                    </a>
                    </br></br>
                    
                    <!--
                    <div class="get-the-app">
                        <div class="download">
                            
                            <input type="checkbox" name="lembrar" class="app-download">Lembrar-se de mim</input>
                            <p class="app-download">Precisa de ajuda?</p>
            
                        </div>
                    </div>
                -->



                    <div class="group">
                        <input type="checkbox" name="lembrar">
                        </input>

                        <p>Precisa de ajuda?</p>

                        <a>
                            <p>Precisa de ajuda?</p>
                        </a>

                        
                        
                    </div>

                

                    </br>
                    </br>
                    </br>                    
                    <div class="groupv2">
                        <a>
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        
                        <p> Conectar com Facebook</p>
                    </div>
                
                   
            </div>
        </div>
    </main>
</body>

</html>
