<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/perfil_usuario.css">
        <title>Perfil do usuário</title>
        <script src="https://kit.fontawesome.com/6c3d792d24.js" crossorigin="anonymous"></script>
    </head>
<body>

     <!--Cabeçalho do site-->
     <!--CSS do Header foi aplicado no header.css-->

     <header>
        <!--Criação de um container para criação do menu-->
        <div class="container">
             

            <!--Menus de navegação-->
            <nav>
                <ul class="nav-left">
                          <!--MENU MOBILE-->
                        <div class="menu_mobile">
                            <i class="fas fa-bars"></i>
                        </div>  
                        
                        <a href="./index.html">
                            <img src="../static/images/logo-netflix.png" alt="Logo da Netflix" class="logo">
                        </a>
                   
                </ul>

                <ul class="nav-right">
                    <li>
                        <a href="#">
                            <i class="fas fa-pen"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">Gerenciar</a>
                    </li>
                    
                </ul>
                
            </nav>


        </div>
    </header>


    <main>
        <div class="perfil-container">
            <h1 class="titulo-perfil">Quem está assistindo?</h1>
            <div class="container-perfil">
                <div class="item">
                    <img class="box-filme" src="../static/images/perfis/coringa.jpg" alt="" srcset>
                    <h5>Denis</h5>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/perfis/elsa.jpg" alt="" srcset>
                    <h5>Carolina</h5>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/perfis/homem_de_ferro.jpg" alt="" srcset>
                    <h5>João</h5>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/perfis/transformers.jpg" alt="" srcset>
                    <h5>Maria</h5>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/perfis/tas.png" alt="" srcset>
                    <h5>Carlos</h5>
                </div>

                   
            </div>
        </div>
    </main>
</body>

</html>
