<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/tela_inicial.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/responsividade.css">
        <title>Interface Netflix</title>
        <script src="https://kit.fontawesome.com/6c3d792d24.js" crossorigin="anonymous"></script>
    
        <!--OWL css - Courousel-->
        <link rel="stylesheet" href="../static/css/owl/owl.carousel.css">
        <link rel="stylesheet" href="../static/css/owl/owl.theme.default.min.css">


    </head>
<body>
    <!--Cabeçalho do site-->
    <!--CSS do Header foi aplicado no header.css-->
    <header>
        <div class="container">

               <!--Menus de navegação-->
            <nav>
                <ul class="nav-left">
                         <!--MENU MOBILE-->
                         <div class="menu_mobile">
                            <i class="fas fa-bars"></i>
                        </div>  
                        
                        <a href="./index.html">
                            <img src="../static/images/logo-netflix.png" alt="Logo da Netflix" class="logo">
                        </a>
                   <li>
                       <a href="./index.html">Inicio</a>
                   </li>
                   <li>
                       <a href="./tela_inicial.html">Séries</a>
                   </li>
                   <li>
                       <a href="./tela_inicial.html">Filmes</a>
                   </li>
                   <li>
                      <a href="./tela_inicial.html">Bombando</a> 
                   </li>
                   <li>
                       <a href="./tela_inicial.html"> Minha Lista</a>
                   </li>
               </ul>

               <ul class="nav-right">
                   <li>
                       <a href="#">
                           <i class="fas fa-search"></i>
                       </a>
                   </li>
                   <li>
                       <a href="#">INFANTIL</a>
                   </li>
                   <li>
                       <a href="#"><i class="fas fa-gift"></i></a>
                   </li>
                   <li>
                       <a href="#"><i class="far fa-bell"></i></a>
                   </li>
                   <li>
                       <a href="#">
                           <img src="../static/images/perfis/coringa.jpg" alt="Imagem de Perfil" class="perfil">
                       </a>
                   </li>
                   <li>
                       <a href="#">
                          <i class="fas fa-caret-down"></i> 
                       </a>
                   </li>

                   <li>

                       <a href="./login.html">
                           <button role="button" class="botao_entrar">Entrar</button>
                           </a>  
   
                       </li>
               </ul>
               
           </nav>

           
       </div>
    </header>
    
    <!--Criação de uma div semântica para melhorar as buscas por SEO-->
    <main>
        <div class="filme-principal">

            <video autoplay loop  muted class="filme-principal-video">
                <source src="../static/videos/kong.mp4" type="video/mp4">           
            </video> 

                            
            <div class="container_">
                <img src="../static/images/kong.png" alt="Imagem da logo Kong" class="img_kong">
            
                <div class="botoes">
                    <button role="button" class="botao">
                        <i class="fas fa-play"></i>
                        ASSITIR AGORA
                    </button>
                    <button role="button" class="botao">
                        <i class="fas fa-info-circle"></i>
                        MAIS INFORMAÇÕES
                    </button>
    
                </div>
                <p class="descricao">Em uma época em que os monstros andam na Terra, a luta da humanidade por seu futuro coloca Godzilla e Kong em rota de colisão que verá as duas forças mais poderosas da natureza no planeta se confrontarem em uma batalha espetacular para as idades.</p>
                </div> <!--Div grupo de botões-->          
            </div>         
              
                
        </div>        
    </main>

    <!--Imagens com os banners dos filmes-->
    <div class="carrossel-filmes">
            <h3>Populares na Netflix</h3>
            <div class="owl-carousel owl-theme">                
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_34.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_2.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_3.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_4.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_5.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_6.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_1.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_8.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_9.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_10.jpg" alt="" srcset>
                </div>
             

            </div>            
    </div>
    <div class="carrossel-filmes">
        <h3>Minha lista</h3>
        <div class="owl-carousel owl-theme">                
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_11.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_12.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_13.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_14.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_15.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_16.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_17.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_18.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_19.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_20.jpg" alt="" srcset>
            </div>

        </div>            
    </div>
    <div class="carrossel-filmes">
        <h3>Séries e filmes para jovens e adultos</h3>
        <div class="owl-carousel owl-theme">                
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_21.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_22.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_23.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_24.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_25.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_26.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_34.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_28.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_29.jpg" alt="" srcset>
            </div>
            <div class="item">
                <img class="box-filme" src="../static/images/banners_filmes/imagem_30.jpg" alt="" srcset>
            </div>
         

        </div>  
        
          
    </div>
    <div class="carrossel-filmes">
        <h3>Continuar asssistindo</h3>
            <div class="owl-carousel owl-theme">                
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_22.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_19.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_33.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_28.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_31.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_10.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_4.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_18.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_32.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_33.jpg" alt="" srcset>
                </div>       
    </div>   
    </div>
    <div class="carrossel-filmes">
        <h3>Séries empolgantes</h3>
            <div class="owl-carousel owl-theme">                
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_1.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_27.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_7.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_11.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_4.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_26.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_2.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_15.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_31.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_30.jpg" alt="" srcset>
                </div>       
            </div>  
    </div>
    <div class="carrossel-filmes">
        <h3>Lançamentos</h3>
            <div class="owl-carousel owl-theme">                
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_12.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_9.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_2.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_14.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_31.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_20.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_14.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_8.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_2.jpg" alt="" srcset>
                </div>
                <div class="item">
                    <img class="box-filme" src="../static/images/banners_filmes/imagem_27.jpg" alt="" srcset>
                </div>       
            </div>  
    </div>


    <script src="https://kit.fontawesome.com/6c3d792d24.js" crossorigin="anonymous"></script>
    <script src="../static/js/owl/jquery.min.js"></script>
    <script src="../static/js/owl/owl.carousel.min.js"></script>
    <script src="../static/js/owl/setup.js"></script>
    
</body>
</html>